body {
    background-color: #ffffff !important; 
}
.navbar {
    background-color: #ffffff !important;
}
.locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}